<h1>Hello world</h1>
<app-header></app-header>
<app-footer></app-footer>
{{title}}
<router-outlet></router-outlet>
<button (click)="textIsVisible = !textIsVisible">Click</button>
<p *ngIf="textIsVisible">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque totam fugit dolore suscipit, magnam cupiditate voluptate atque maxime facilis deleniti, autem porro dolores quibusdam vel velit corporis temporibus. Nemo, dolore.</p>
<a routerLink="/">Home</a>
<a routerLink="/support">Support</a>
<a routerLink="/contacts">Comtacts</a>